bin10/Debug
bin10/Debug64
bin10/Profiles
bin10/Release
bin10/Release[!!-~]Unicode
bin10/Release64
bin10/ipch
langpacks/polish/Deprecated/Langpack_bratkrzy.txt
langpacks/polish/Deprecated/Langpack_polish.txt
langpacks/polish/Deprecated/old
langpacks/polish/Langpack_polish.txt
plugins/!Deprecated/Skype/*.user
plugins/!Deprecated/Skype/keypacker/*.sdf
plugins/!Deprecated/Skype/keypacker/*.suo
plugins/!Deprecated/Skype/keypacker/*.user
plugins/!Deprecated/Skype/res/*.aps
plugins/SendScreenshotPlus/_services
plugins/SendScreenshotPlus/res/icons
