bin10/Debug
bin10/Debug64
bin10/Profiles
bin10/Release
bin10/Release[!!-~]Unicode
bin10/Release64
bin10/ipch
langpacks/polish/Deprecated/Langpack_bratkrzy.txt
langpacks/polish/Deprecated/Langpack_polish.txt
langpacks/polish/Deprecated/old
langpacks/polish/Langpack_polish.txt
plugins/SendScreenshotPlus/_services
plugins/SendScreenshotPlus/res/icons
protocols/Skype/*.user
protocols/Skype/keypacker/*.sdf
protocols/Skype/keypacker/*.suo
protocols/Skype/keypacker/*.user
protocols/Skype/res/*.aps
